# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Word temporary files
~$*.docx

# Generated document previews
docs/**/rendered/
docs/**/*.pdf

# Local secrets
.env
.env.local
.idea

# macOS
.DS_Store

# Backend
server/target/

# Frontend
client/node_modules/
client/dist/
