<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailylanguage.authentication.infrastructure.LocalAuthenticationMapper">

    <resultMap id="storedLocalPasswordCredentialResult"
               type="com.dailylanguage.authentication.infrastructure.StoredLocalPasswordCredential">
        <constructor>
            <idArg column="auth_identity_id"
                   javaType="java.util.UUID"
                   typeHandler="com.dailylanguage.persistence.PostgreSqlUuidTypeHandler"/>
            <arg column="user_id"
                 javaType="java.util.UUID"
                 typeHandler="com.dailylanguage.persistence.PostgreSqlUuidTypeHandler"/>
            <arg column="normalized_email" javaType="java.lang.String"/>
            <arg column="password_verifier" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <select id="insertAuthenticationIdentityAndReturnId"
            resultType="java.util.UUID"
            affectData="true"
            flushCache="true">
        INSERT INTO auth_identity (user_id, provider, provider_subject)
        VALUES (
            #{userId, jdbcType=OTHER},
            #{provider, jdbcType=VARCHAR},
            #{providerSubject, jdbcType=VARCHAR}
        )
        RETURNING id
    </select>

    <insert id="insertLocalPasswordCredential">
        INSERT INTO local_password_credential (auth_identity_id, password_verifier)
        VALUES (
            #{authenticationIdentityId, jdbcType=OTHER},
            #{encodedPasswordHash, jdbcType=VARCHAR}
        )
    </insert>

    <select id="findLocalPasswordCredential" resultMap="storedLocalPasswordCredentialResult">
        SELECT authentication_identity.id AS auth_identity_id,
               authentication_identity.user_id,
               authentication_identity.provider_subject AS normalized_email,
               password_credential.password_verifier
        FROM auth_identity authentication_identity
        JOIN local_password_credential password_credential
          ON password_credential.auth_identity_id = authentication_identity.id
        WHERE authentication_identity.provider = #{provider, jdbcType=VARCHAR}
          AND authentication_identity.provider_subject = #{providerSubject, jdbcType=VARCHAR}
    </select>
</mapper>
